.mat-toolbar {
    background-color: #282fb2;
    color: #ffffff;
  }
  
  .mat-sidenav{
    width: 200px;
    padding: 16px 0;
    background-color: #2bcd71;
    color: #ffffff;
  }
  .content {
    height: calc(100svh - 98px);
    border-radius: 10px;
    padding: 16px;
    max-width: 1520px;
    margin: 0 auto;
    font-size: 16px;
  }
  
  .mat-sidenav-container {
    height: calc(100svh - 65px);
  }
  
  .mat-list-item, .mat-icon, span {
    color: #ffffff !important;

  }
  .mat-list-item, span {
    color: #ffffff !important;
    font-family: "Voltaire", sans-serif;
  }
  
  .logo-container {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-image {
    height: 40px;
    border-radius: 50%;
  }
