/* Estilos para el contenido del diálogo */
.dialog-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Definir 3 columnas con un ancho mínimo mayor */
    gap: 10px;
    padding: 2%;
  }
  
  /* Estilos personalizados para el diálogo */
  .mat-dialog-container {
    background-color: #f7f7f7;
    border-radius: 8px;
  }
  
  /* Ajustar el tamaño de los form fields para ocupar más espacio */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px; /* Espacio entre campos */
  }
  
  mat-form-field.full-width {
    grid-column: span 3; /* Hace que algunos inputs ocupen las 3 columnas */
  }
  
  mat-form-field.double-width {
    grid-column: span 2; /* Hace que algunos inputs ocupen 2 columnas */
  }
  
  /* Estilo de los inputs dentro de los form fields */
  mat-form-field input {
    padding: 10px;
    font-size: 16px;
    font-family: "Voltaire", sans-serif;
  }
  
  /* Alineación de los botones en el diálogo */
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Añadir margen entre los botones */
  button {
    margin-left: 10px;
    font-family: "Voltaire", sans-serif;
    font-size: 20px;
  }
  
  /* Estilos de los botones */
  button.mat-raised-button {
    background-color: #3f51b5;
    color: white;
  }
  
  button.mat-raised-button:hover {
    background-color: #303f9f;
  }
  
  /* Estilo personalizado para el contenedor de los botones */
  .grupoBtn {
    justify-content: end;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
  }
  
  /* Estilo del título del diálogo */
  h1 {
    margin: 0;
    text-align: center;
    font-family: "Voltaire", sans-serif;
    font-weight: initial;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    background: #2bcd71;
    border-radius: 10px;
    padding: 5px 80px;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  button.cancelarBtn {
    color: #ffffff;
    background-color: #282fb2;
    font-size: 16px;
  }
  
  button.aceptarBtn {
    color: #ffffff;
    background-color: #2bcd71;
    font-size: 16px;
  }
  
  .logo {
    height: 40px;
    margin-left: 10px;
  }
  