<div class="denegado-container">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
    <mat-card class="denegado-card">
      <mat-card-content>
        <img src="../../../assets/denegado.gif" alt="Error Image" class="denegado-image">
        <h2 class="titulo">{{ errorTitle }}</h2>
        <p class="mensaje">{{ errorMessage }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  