table {
    width: 100%;

  }
  .table-container {
    width: 100%;
    overflow-x: auto; /* Permite el scroll horizontal si es necesario */
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .mat-icon{
    margin-top: initial;
    color: #fff;
  }
  table th{
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: "Voltaire", sans-serif;
  }

  section {
    display: table;
  }
  
  .label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-right: 16px;
  }  

  .grupoBtn{
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    font-family: "Kanit", sans-serif;
    .btnPc, .btnPedido {
      color: #ffffff;
      background-color: #282fb2;
      font-family: "Voltaire", sans-serif;
      margin: 8px 8px 8px 0;
    }
    .btnAgregar, .btnPrestamo, .btnPdf{
      color: #ffffff;
      background-color: #2bcd71;
      font-family: "Voltaire", sans-serif;
      margin: 8px 8px 8px 0;

    }
  }
i{
  color: #fff;
  margin-right: 3px;
}
button {
  color: #ffffff;
  background-color: #868484;
  font-family: "Voltaire", sans-serif;
  padding: 8px 16px; /* Espacio interno para el texto y los íconos */
  white-space: nowrap; /* Evita que el texto se corte en varias líneas */
}


.cabezera{
  display: flex; /* Utiliza flexbox para el contenedor */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.header {
  display: inline-flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  background: #2bcd71; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 80px; /* Espacio interno reducido */
  align-items: center; /* Alinea los elementos hijos verticalmente */
}

.header h2 {
  margin: 0;
  text-align: center; /* Asegura que el texto esté centrado */
  font-family: "Voltaire", sans-serif;
  font-weight: initial;
  font-style: normal;
}
.logo {
  height: 40px;
  margin-left: 10px;
}
.btnMenu {
  background-color: #282fb2;
  text-align: center;
  justify-content: center;
  display: flex; /* Asegura que el contenido sea un contenedor flex */
  align-items: center; /* Centra el ícono verticalmente */
  justify-content: center; /* Centra el ícono horizontalmente */
  padding: 8px; /* Ajusta el padding si es necesario */
}

.mat-icon {
  margin: 0; /* Elimina cualquier margen innecesario */
  color: #fff;
}
table th {
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
  font-family: "Voltaire", sans-serif;
  text-align: left; /* Para asegurar que el texto quede alineado a la izquierda */
  padding: 12px 8px; /* Ajusta el padding según lo necesites */
}
mat-form-field {
  width: 150px; /* Ajusta el ancho a lo que necesites */
  margin-right: 16px; /* Espaciado para que no se solape con otros elementos */
}

.mat-select-trigger {
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  padding: 4px 8px; /* Ajusta el padding para reducir el tamaño general */
}
.no-data-row {
  background-color: #8df7bb; /* Color de fondo verde */
  color: #000000; /* Color del texto blanco */
  text-align: center; /* Centra el texto */
  height: 50px; /* Altura de la fila */
  font-family: "Voltaire", sans-serif;
}