<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span style="display: flex; align-items: center;">
      <div class="logo-container">
        <img src="../../../assets/logoUCP.png" class="logo-image">
      </div>
      <span style="margin-left: 10px;">UCP Insumos</span>
    </span>
  </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/about">
            <mat-icon matListItemIcon>laptop</mat-icon>
            Insumos
          </mat-list-item>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/usuarios">
            <mat-icon matListItemIcon>person</mat-icon>
            Usuarios
          </mat-list-item>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/about">
            <mat-icon matListItemIcon>shopping_basket</mat-icon>
            Prestamos
          </mat-list-item>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/about">
            <mat-icon matListItemIcon>settings</mat-icon>
            Parámetros
          </mat-list-item>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/about">
            <mat-icon matListItemIcon>score</mat-icon>
            Reportes 
          </mat-list-item>
          <mat-list-item (click)="sidenav.mode === 'over' && sidenav.close()" routerLink="/about">
            <mat-icon matListItemIcon>exit_to_app</mat-icon>
            Salir
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    